<%- include('partials/header') %>

<section class="explore">
    <div class="container">
        <h1>EXPLORE-MORE</h1>
        <div class="text">
            <p>
                Some text about our Furnitures, doesn't need to be long just a
                paragraph which is brief and straight to the point. No need to think
                too much just bring it out, all is well!
            </p>
        </div>
    </div>
</section>

<!-- Living room furnitures  -->
 <% categories.forEach((category)=>{ %>

<section class="furniture-section">
  <h1><%= category.name %></h1>
  <div class="container">
    <% category.furnitures.forEach((object) => { %>
        <div class="item">
          <div class="image">
            <img src="<%= object.imageUrl %>" alt="" />
          </div>
          <h3><%= object.name %></h3>
          <h2><%= object.priceTag %></h2>
        </div>
    <% }); %>
  </div>
</section>
<% }) %>



<%- include('partials/review') %>
<%- include('partials/footer') %>